
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}
/* Full-width input fields */
input[type=text], input[type=password], input[type=date], input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: 1px #cbc6c6 solid;
    /* border-color: rgb(118, 118, 118); */
    /* background: #f1f1f1; */
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus,
input[type=date]:focus, input[type=email]:focus {
    /* background-color: #ddd; */
    outline: none;
    border: 1px  #29CCEF solid;
}

/* Set a style for all buttons */
.button-registrar {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
      /* float: left; */
    width: 100%;
}

/* Add padding to container elements */
.container-registro {
    padding: 15px;
    height: 624px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
   /*  overflow: auto; */ /* Enable scroll if needed */
    /* background-color: #474e5d; */
   
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
   /*  margin: 5% auto 15% auto;  *//* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    /* width: 40%; */ /* Could be more or less, depending on screen size */
    width: 500px;
    height: 624px;
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  /*  position: absolute;  */
    /* right: 35px; */
    /* top: 15px; */
    /* width: 16px;
    height: 16px; */
    font-size: 30px;
    /* font-weight: bold; */
   color: #cbc6c6;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.modalcentro{
    display: flex;
    justify-content:center;
    padding-top: 70px;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 550px) {

    body{
        overflow-x: hidden;
    }
    .cancelbtn, .signupbtn {
       width: 100%;
    }


    /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
   /*  margin: 5% auto 15% auto;  *//* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
}
    
    .modalcentro{
    display: flex;
    justify-content:center;
    padding-top: 0px;
}
    
    
input[type=text], input[type=password], input[type=date], input[type=email] {
    
    margin: 5px 0px 0px 0px;
    
 }

}
